.button-login {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 18rem;
  height: 3.5rem;

  background: var(--white);

  box-sizing: border-box;
  border-radius: 2rem;
  border-width: medium;
  border: 1px solid var(--gray);

  cursor: pointer;

  .logo-google {
    margin-right: 1rem;
  }

  .label-login {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.2rem;

    color: var(--black);
    opacity: 0.5;

    cursor: pointer;
  }
}
