.text-title {
  margin-bottom: 1rem;

  font-weight: 500;
  font-size: 2rem;

  text-align: center;

  color: var(--mono-color20);
}

.text-subtitle {
  margin-bottom: 1rem;

  font-weight: 400;
  font-size: 1rem;
  font-style: italic;

  line-height: 1.5rem;

  text-align: center;

  color: var(--gray);
}

.text {
  margin-bottom: 1rem;

  font-weight: 300;
  font-size: 1rem;

  line-height: 1rem;

  text-align: center;

  color: var(--black);
}
