.error {
  margin: 2rem;

  .button-container {
    display: flex;
    justify-content: center;

    padding-bottom: 1rem;
  }
}

@media (min-width: 768px) {
  .error {
    width: var(--max-mobile-breakpoint);
  }
}
