.error {
  margin: 2rem;

  .text-container {
    padding: 1rem 1rem;

    .text-title {
      font-weight: 500;
      font-size: 2rem;

      text-align: center;

      color: var(--mono-color20);
    }

    .text-subtitle {
      padding: 2rem 0rem;

      font-weight: 400;
      font-size: 1rem;

      line-height: 1.5rem;

      text-align: center;

      color: var(--gray);
    }
  }

  .button-container {
    display: flex;
    justify-content: center;

    padding-bottom: 1rem;
  }
}
